/* ========================= */
/* Reset */
/* ========================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{

scroll-behavior:smooth;

}

body{

background:#09090d;

font-family:"Cairo",sans-serif;

color:#fff;

overflow-x:hidden;

}

/* ========================= */

.app{

width:100%;

max-width:430px;

min-height:100vh;

margin:auto;

background:#0d0d12;

position:relative;

}

/* ========================= */
/* Header */
/* ========================= */

.header{

height:74px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 18px;

border-bottom:1px solid rgba(255,255,255,.05);

background:#111116;

position:sticky;

top:0;

z-index:100;

}

.logo{

font-size:31px;

font-weight:800;

color:#9b5cff;

}

.header-btn{

width:46px;

height:46px;

border:none;

outline:none;

cursor:pointer;

border-radius:50%;

background:transparent;

display:flex;

align-items:center;

justify-content:center;

}

.header-btn i{

font-size:30px;

color:#9b5cff;

}

/* ========================= */
/* Stories */
/* ========================= */

.stories{

display:flex;

gap:16px;

overflow-x:auto;

padding:16px;

border-bottom:1px solid rgba(255,255,255,.05);

scrollbar-width:none;

}

.stories::-webkit-scrollbar{

display:none;

}

/* ========================= */
/* Feed */
/* ========================= */

.feed{

padding-bottom:90px;

}

/* ========================= */
/* Bottom Nav */
/* ========================= */

.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

width:100%;

max-width:430px;

height:72px;

background:#101015;

border-top:1px solid rgba(255,255,255,.06);

display:flex;

justify-content:space-around;

align-items:center;

z-index:999;

}

.nav-item{

background:none;

border:none;

cursor:pointer;

}

.nav-item i{

font-size:29px;

color:#d8d8d8;

}

.nav-item.active i{

color:#9b5cff;

  }
/* ========================= */
/* Story */
/* ========================= */

.story{

display:flex;

flex-direction:column;

align-items:center;

min-width:72px;

}

.story-avatar{

width:68px;

height:68px;

border-radius:50%;

padding:3px;

background:linear-gradient(135deg,#a855f7,#7c3aed);

display:flex;

align-items:center;

justify-content:center;

position:relative;

}

.story-avatar img{

width:100%;

height:100%;

border-radius:50%;

object-fit:cover;

border:3px solid #0d0d12;

background:#1a1a22;

}

.story-name{

margin-top:8px;

font-size:12px;

font-weight:600;

white-space:nowrap;

max-width:70px;

overflow:hidden;

text-overflow:ellipsis;

text-align:center;

}

.story-add{

position:absolute;

bottom:2px;

left:2px;

width:22px;

height:22px;

border-radius:50%;

background:#9b5cff;

display:flex;

align-items:center;

justify-content:center;

border:2px solid #0d0d12;

}

.story-add i{

font-size:15px;

color:#fff;

}
