*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{

background:#0B0B0F;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
color:white;

}

.container{

width:100%;
max-width:430px;

background:#17171C;

border-radius:30px;

padding:35px 28px;

border:1px solid #27272D;

box-shadow:0 0 35px rgba(124,92,252,.18);

}

.logo{

text-align:center;

font-size:42px;

font-weight:800;

color:#8A5CFF;

margin-bottom:8px;

}

.slogan{

text-align:center;

color:#9A9AA6;

margin-bottom:35px;

font-size:15px;

}

.avatar{

display:flex;

justify-content:center;

margin-bottom:28px;

}

.avatar label{

position:relative;

cursor:pointer;

}

.avatar img{

width:110px;

height:110px;

border-radius:50%;

object-fit:cover;

border:4px solid #8A5CFF;

}

.changeAvatar{

position:absolute;

bottom:0;

right:0;

width:34px;

height:34px;

border-radius:50%;

background:#8A5CFF;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

font-weight:bold;

}

input{

width:100%;

height:58px;

margin-bottom:18px;

padding:0 18px;

background:#23232B;

border:1px solid #30303A;

border-radius:18px;

color:white;

font-size:15px;

outline:none;

transition:.2s;

}

input:focus{

border-color:#8A5CFF;

}

.passwordBox{

position:relative;

margin-bottom:18px;

}

.passwordBox input{

margin:0;

padding-right:55px;

}

.passwordBox button{

position:absolute;

right:8px;

top:8px;

width:42px;

height:42px;

border:none;

background:none;

color:white;

cursor:pointer;

font-size:18px;

}

.createBtn{

width:100%;

height:58px;

border:none;

border-radius:18px;

background:#8A5CFF;

color:white;

font-size:17px;

font-weight:700;

cursor:pointer;

margin-top:8px;

transition:.2s;

}

.createBtn:hover{

transform:translateY(-2px);

}

.terms{

margin-top:20px;

text-align:center;

font-size:13px;

color:#9A9AA6;

line-height:1.8;

}

.terms a{

color:#8A5CFF;

text-decoration:none;

}

.googleBtn{

width:100%;

height:58px;

margin-top:20px;

background:#23232B;

border:1px solid #34343F;

border-radius:18px;

color:white;

font-size:15px;

font-weight:700;

cursor:pointer;

}

.login{

margin-top:22px;

text-align:center;

font-size:14px;

color:#9A9AA6;

}

.login a{

color:#8A5CFF;

text-decoration:none;

font-weight:700;

}

::placeholder{

color:#8E8E98;

}
