*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{
    background:#0B0B0D;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
    color:#fff;
}

.container{
    width:100%;
    max-width:430px;
}

.logo{
    text-align:center;
    font-size:38px;
    font-weight:800;
    color:#8A5CFF;
    margin-bottom:8px;
}

.slogan{
    text-align:center;
    color:#9C9CA8;
    margin-bottom:35px;
}

.avatar{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:25px;
}

.avatar img{
    width:95px;
    height:95px;
    border-radius:50%;
    border:3px solid #8A5CFF;
    object-fit:cover;
    cursor:pointer;
}

.avatar input{
    display:none;
}

.avatar span{
    margin-top:10px;
    color:#8A5CFF;
    font-size:14px;
    cursor:pointer;
}

input{
    width:100%;
    height:58px;
    background:#1B1B20;
    border:1px solid #2E2E36;
    border-radius:18px;
    padding:0 18px;
    color:#fff;
    font-size:15px;
    margin-bottom:16px;
    outline:none;
    transition:.25s;
}

input:focus{
    border-color:#8A5CFF;
}

button{
    width:100%;
    height:58px;
    border:none;
    border-radius:18px;
    font-size:16px;
    font-weight:700;
    cursor:pointer;
    transition:.25s;
}

.mainBtn{
    background:#8A5CFF;
    color:#fff;
    margin-top:5px;
}

.googleBtn{
    background:#202026;
    color:white;
    border:1px solid #33333D;
    margin-top:15px;
}

.mainBtn:hover,
.googleBtn:hover{
    transform:translateY(-2px);
}

.terms{
    margin-top:18px;
    text-align:center;
    font-size:13px;
    color:#9A9AA5;
    line-height:1.8;
}

.terms a{
    color:#8A5CFF;
    text-decoration:none;
}

.login{
    text-align:center;
    margin-top:22px;
    color:#9A9AA5;
}

.login a{
    color:#8A5CFF;
    text-decoration:none;
    font-weight:700;
}
